<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="localAppSettings.config">
    <add key="Stencil-ES-HOST" value="https://YourKey@YourElasticSearchHost.qb0x.com:30511" />
    <add key="Stencil-ES-INDEX" value="stencil_demo" />
    <add key="Stencil-ES-REPLICA" value="1" />
    <add key="Stencil-ES-SHARDS" value="5" />
  </appSettings>
</configuration>